In [2]:
import csv
from pymongo import MongoClient as MgC

compras = csv.reader('RegistroComprasOnline.csv')
client = MgC('mongodb://admin:abc123@172.18.0.3:27017/')
db = client['compras']
collection = db['registros']

filename = 'RegistroComprasOnline.csv'

# with open(filename, 'r') as file:
#     reader = csv.DictReader(file)
#     for row in reader:
#         collection.insert_one(row)
# print("Registro insertados")

Registro insertados

In [3]:
import pandas as pd

print(client.list_database_names())
print(db.list_collection_names())

registros = db['registros']

df = pd.DataFrame(list(registros.find()))
df

['admin', 'compras', 'config', 'local', 'mybbdd']
['registros']

,_id,IDCliente,Importecompra,Fechacompra,Categoria,Numerodeclicks,Fechadenacimiento,Codigopostalenvio,Tiemporealizacioncompra,Clienteexistente
0,6799fc4f60f77f657fa2305d,7302,"412,734791193503",24/11/20,CPU,12,24/03/04,15983,60,SI
1,6799fc4f60f77f657fa2305e,1380,"529,537228589387",04/08/22,RATONES Y TECLADOS,16,19/02/94,21668,80,SI
2,6799fc4f60f77f657fa2305f,5747,"707,833722678856",09/03/22,MONITOR,5,22/09/85,2246,25,SI
3,6799fc4f60f77f657fa23060,8383,"196,881214919621",02/05/22,CPU,1,28/06/84,15568,5,SI
4,6799fc4f60f77f657fa23061,3462,"771,172392957508",27/01/21,ALMACENAMIENTO,9,17/04/72,15684,45,NO
...,...,...,...,...,...,...,...,...,...,...
2266,6799fc5060f77f657fa23937,8143,"168,060672126387",23/08/19,MONITOR,18,05/02/01,17492,90,NO
2267,6799fc5060f77f657fa23938,3404,"720,579584543572",14/07/21,CPU,5,21/06/75,50760,25,NO
2268,6799fc5060f77f657fa23939,4762,"861,147489871826",18/02/22,MONITOR,1,04/11/99,47814,5,SI
2269,6799fc5060f77f657fa2393a,9046,"264,186323146067",09/10/16,RATONES Y TECLADOS,1,28/02/00,48315,5,SI
2270,6799fc5060f77f657fa2393b,6195,"876,430374332927",03/03/21,MEMORIA,14,10/10/90,33422,70,SI

In [5]:
'''
from datetime import datetime

documento = {
    'IDCliente': 12345,
    'Estado': "Pagado",
    'Importe': 56.45,
    'Direccion': {
        'Calle': "Avenida de Galicia",
        'Numero': 101,
        'Piso': "2B",
        'Codigo Postal': 36217,
        'Localidad': "Vigo",
        'Provincia': "Pontevedra",        
    },
    'Fecha de compa': datetime(2015,9,23),
    'Items': ['Leche', 'Pan']
}

resultadoInsert = registros.insert_one(documento)

print(f'Documento insertado con ID: {resultadoInsert.inserted_id} ')
''' # se comenta para que no haga mas inserciones duplicadas de este documento

df = pd.DataFrame(list(registros.find()))

display(df)

Documento insertado con ID: 6799fe6860f77f657fa2393c

,_id,IDCliente,Importecompra,Fechacompra,Categoria,Numerodeclicks,Fechadenacimiento,Codigopostalenvio,Tiemporealizacioncompra,Clienteexistente,Estado,Importe,Direccion,Fecha de compa,Items
0,6799fc4f60f77f657fa2305d,7302,"412,734791193503",24/11/20,CPU,12,24/03/04,15983,60,SI,NaN,NaN,NaN,NaT,NaN
1,6799fc4f60f77f657fa2305e,1380,"529,537228589387",04/08/22,RATONES Y TECLADOS,16,19/02/94,21668,80,SI,NaN,NaN,NaN,NaT,NaN
2,6799fc4f60f77f657fa2305f,5747,"707,833722678856",09/03/22,MONITOR,5,22/09/85,2246,25,SI,NaN,NaN,NaN,NaT,NaN
3,6799fc4f60f77f657fa23060,8383,"196,881214919621",02/05/22,CPU,1,28/06/84,15568,5,SI,NaN,NaN,NaN,NaT,NaN
4,6799fc4f60f77f657fa23061,3462,"771,172392957508",27/01/21,ALMACENAMIENTO,9,17/04/72,15684,45,NO,NaN,NaN,NaN,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2267,6799fc5060f77f657fa23938,3404,"720,579584543572",14/07/21,CPU,5,21/06/75,50760,25,NO,NaN,NaN,NaN,NaT,NaN
2268,6799fc5060f77f657fa23939,4762,"861,147489871826",18/02/22,MONITOR,1,04/11/99,47814,5,SI,NaN,NaN,NaN,NaT,NaN
2269,6799fc5060f77f657fa2393a,9046,"264,186323146067",09/10/16,RATONES Y TECLADOS,1,28/02/00,48315,5,SI,NaN,NaN,NaN,NaT,NaN
2270,6799fc5060f77f657fa2393b,6195,"876,430374332927",03/03/21,MEMORIA,14,10/10/90,33422,70,SI,NaN,NaN,NaN,NaT,NaN
2271,6799fe6860f77f657fa2393c,12345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pagado,56.45,"{'Calle': 'Avenida de Galicia', 'Numero': 101,...",2015-09-23,"[Leche, Pan]"

In [19]:
contador = 0

for documento in registros.find({'Importecompra': {'$gt':"44444444444444440"}}): # gt= greater than >
    contador += 1
print(contador)

1363