In [12]:
import numpy as np
import pandas as pd

In [18]:
df_ventas = pd.read_csv("Dataset-Ventas.csv", encoding="latin-1")

df_ventas["ID Pedido"] = df_ventas["ID Pedido"].astype(np.int64)
df_ventas.rename(columns={"ID Pedido": "ID_Pedido"}, inplace=True)
df_ventas.info()

df_ventas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_Pedido           308 non-null    int64
 1   ID Factura          308 non-null    object
 2   Comercio            308 non-null    object
 3   Ciudad              308 non-null    object
 4   Tipo cliente        306 non-null    object
 5   Sexo                307 non-null    object
 6   Lï¿½nea de negocio  308 non-null    object
 7   Precio Unitario     307 non-null    object
 8   Cantidad            308 non-null    int64
 9   Total               306 non-null    object
 10  IVA                 307 non-null    object
 11  Fecha               308 non-null    object
 12  Pago                308 non-null    object
dtypes: int64(2), object(11)
memory usage: 31.4+ KB

,ID_Pedido,ID Factura,Comercio,Ciudad,Tipo cliente,Sexo,Lï¿½nea de negocio,Precio Unitario,Cantidad,Total,IVA,Fecha,Pago
0,56904,56904-C1,Perfumes Olorosos,Vigo,Existente,Mujer,Belleza y perfumerï¿½a,"431,569826004199",42,"18125,9326921764","3806,44586535703",25/09/73,Tarjeta crï¿½dito
1,56904,56904-C2,El Cercano,Pontevedra,Existente,Mujer,Supermercado,"427,753653339589",32,"13688,1169068669","2874,50455044204",25/09/73,Tarjeta crï¿½dito
2,56904,56904-C3,El Primero,Vigo,Existente,Mujer,Supermercado,"125,119713221405",55,"6881,58422717729","1445,13268770723",25/09/73,Tarjeta crï¿½dito
3,56904,56904-C4,Perfumes Olorosos,Vigo,Existente,Mujer,Belleza y perfumerï¿½a,"499,885503285254",35,"17495,9926149839","3674,15844914662",25/09/73,Tarjeta crï¿½dito
4,56904,56904-C5,El Caro,Nigrï¿½n,Existente,Mujer,Cocinas,"216,976405127412",8,"1735,81124101929","364,520360614051",25/09/73,Tarjeta crï¿½dito
...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,30066,30066-C3,Mercerï¿½a Coso,A Coruï¿½a,Existente,Hombre,Otros,"974,516979626758",20,"19490,3395925352","4092,97131443238",04/02/98,Efectivo
304,30066,30066-C4,Mercerï¿½a Coso,A Coruï¿½a,Existente,Hombre,Otros,"131,572594042298",39,"5131,33116764963","1077,57954520642",04/02/98,Efectivo
305,30066,30066-C5,Perfumes Olorosos,Vigo,Existente,Hombre,Belleza y perfumerï¿½a,"814,358657150635",59,"48047,1607718874","10089,9037620964",04/02/98,Efectivo
306,30066,30066-C6,El Primero,Vigo,Existente,Hombre,Supermercado,"867,107359521197",90,"78039,6623569077","16388,3290949506",04/02/98,Efectivo
307,30066,30066-C7,Mercerï¿½a Coso,A Coruï¿½a,Existente,Hombre,Otros,"331,61786515681",80,"26529,4292125448","5571,18013463441",04/02/98,Efectivo

In [19]:
import pymysql

conn = pymysql.connect( user = "admin",
                       password = "abc123",
                       host = "172.19.0.3",
                       db = "bbdd")

query = "select * from DIRECCIONES;"

df_direcciones = pd.read_sql(query, con = conn)

conn.close()
df_direcciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            60 non-null     int64
 1   ID_pedido     60 non-null     int64
 2   dir_entrega   60 non-null     object
 3   tipo_entrega  60 non-null     object
 4   email         58 non-null     object
dtypes: int64(2), object(3)
memory usage: 2.5+ KB

/tmp/ipykernel_9910/3214752265.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_direcciones = pd.read_sql(query, con = conn)

In [20]:
df_ventas["ID_Pedido"] = df_ventas["ID_Pedido"].astype(str)
df_direcciones["ID_pedido"] = df_direcciones["ID_pedido"].astype(str)

# merge para unir ambas fuentes de datos por la columna ID_Pedido
df_completo = pd.merge(df_ventas, df_direcciones, left_on="ID_Pedido", right_on="ID_pedido", how="inner") # Una columna es ID_Pedido otra ID_pedido

df_completo

,ID_Pedido,ID Factura,Comercio,Ciudad,Tipo cliente,Sexo,Lï¿½nea de negocio,Precio Unitario,Cantidad,Total,IVA,Fecha,Pago,ID,ID_pedido,dir_entrega,tipo_entrega,email
0,56904,56904-C1,Perfumes Olorosos,Vigo,Existente,Mujer,Belleza y perfumerï¿½a,"431,569826004199",42,"18125,9326921764","3806,44586535703",25/09/73,Tarjeta crï¿½dito,7,56904,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
1,56904,56904-C2,El Cercano,Pontevedra,Existente,Mujer,Supermercado,"427,753653339589",32,"13688,1169068669","2874,50455044204",25/09/73,Tarjeta crï¿½dito,7,56904,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
2,56904,56904-C3,El Primero,Vigo,Existente,Mujer,Supermercado,"125,119713221405",55,"6881,58422717729","1445,13268770723",25/09/73,Tarjeta crï¿½dito,7,56904,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
3,56904,56904-C4,Perfumes Olorosos,Vigo,Existente,Mujer,Belleza y perfumerï¿½a,"499,885503285254",35,"17495,9926149839","3674,15844914662",25/09/73,Tarjeta crï¿½dito,7,56904,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
4,56904,56904-C5,El Caro,Nigrï¿½n,Existente,Mujer,Cocinas,"216,976405127412",8,"1735,81124101929","364,520360614051",25/09/73,Tarjeta crï¿½dito,7,56904,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316,30066,30066-C3,Mercerï¿½a Coso,A Coruï¿½a,Existente,Hombre,Otros,"974,516979626758",20,"19490,3395925352","4092,97131443238",04/02/98,Efectivo,65,30066,"Calle Ugalde 10 4C, Bilbao",Domicilio,cris_watt@hotmail.com
317,30066,30066-C4,Mercerï¿½a Coso,A Coruï¿½a,Existente,Hombre,Otros,"131,572594042298",39,"5131,33116764963","1077,57954520642",04/02/98,Efectivo,65,30066,"Calle Ugalde 10 4C, Bilbao",Domicilio,cris_watt@hotmail.com
318,30066,30066-C5,Perfumes Olorosos,Vigo,Existente,Hombre,Belleza y perfumerï¿½a,"814,358657150635",59,"48047,1607718874","10089,9037620964",04/02/98,Efectivo,65,30066,"Calle Ugalde 10 4C, Bilbao",Domicilio,cris_watt@hotmail.com
319,30066,30066-C6,El Primero,Vigo,Existente,Hombre,Supermercado,"867,107359521197",90,"78039,6623569077","16388,3290949506",04/02/98,Efectivo,65,30066,"Calle Ugalde 10 4C, Bilbao",Domicilio,cris_watt@hotmail.com
320,30066,30066-C7,Mercerï¿½a Coso,A Coruï¿½a,Existente,Hombre,Otros,"331,61786515681",80,"26529,4292125448","5571,18013463441",04/02/98,Efectivo,65,30066,"Calle Ugalde 10 4C, Bilbao",Domicilio,cris_watt@hotmail.com

In [24]:
# Dado que hay multiples registros con el mismo ID_Pedido, elimino dicha columna
#df_completo = df_completo.drop(columns = ['ID_Pedido', 'ID_pedido'])
df_completo.set_index("ID Factura", inplace = True)
df_completo.head()

,Comercio,Ciudad,Tipo cliente,Sexo,Lï¿½nea de negocio,Precio Unitario,Cantidad,Total,IVA,Fecha,Pago,ID,dir_entrega,tipo_entrega,email
ID Factura,,,,,,,,,,,,,,,
56904-C1,Perfumes Olorosos,Vigo,Existente,Mujer,Belleza y perfumerï¿½a,"431,569826004199",42,"18125,9326921764","3806,44586535703",25/09/73,Tarjeta crï¿½dito,7,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
56904-C2,El Cercano,Pontevedra,Existente,Mujer,Supermercado,"427,753653339589",32,"13688,1169068669","2874,50455044204",25/09/73,Tarjeta crï¿½dito,7,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
56904-C3,El Primero,Vigo,Existente,Mujer,Supermercado,"125,119713221405",55,"6881,58422717729","1445,13268770723",25/09/73,Tarjeta crï¿½dito,7,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
56904-C4,Perfumes Olorosos,Vigo,Existente,Mujer,Belleza y perfumerï¿½a,"499,885503285254",35,"17495,9926149839","3674,15844914662",25/09/73,Tarjeta crï¿½dito,7,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com
56904-C5,El Caro,Nigrï¿½n,Existente,Mujer,Cocinas,"216,976405127412",8,"1735,81124101929","364,520360614051",25/09/73,Tarjeta crï¿½dito,7,"Gran vía 24 1C, Madrid",Correos,twana_ellwood@yahoo.com