In [13]:
import csv
from pymongo import MongoClient as MgC

compras = csv.reader('RegistroComprasOnline.csv')
client = MgC('mongodb://admin:abc123@172.18.0.3:27017/')
db = client['compras']
collection = db['registros']

filename = 'RegistroComprasOnline.csv'

with open(filename, 'r') as file:
    reader = csv.DictReader(file)
    for row in reader:
        collection.insert_one(row)
print("Registro insertados")

Registro insertados

In [14]:
import pandas as pd

print(client.list_database_names())
print(db.list_collection_names())

registros = db['registros']

df = pd.DataFrame(list(registros.find()))
df

['admin', 'compras', 'config', 'local', 'mybbdd']
['registros']

,_id,IDCliente,Importecompra,Fechacompra,Categoria,Numerodeclicks,Fechadenacimiento,Codigopostalenvio,Tiemporealizacioncompra,Clienteexistente
0,6790d7e6d40fe62a200f2325,7302,"412,734791193503",24/11/20,CPU,12,24/03/04,15983,60,SI
1,6790d7e6d40fe62a200f2326,1380,"529,537228589387",04/08/22,RATONES Y TECLADOS,16,19/02/94,21668,80,SI
2,6790d7e6d40fe62a200f2327,5747,"707,833722678856",09/03/22,MONITOR,5,22/09/85,2246,25,SI
3,6790d7e6d40fe62a200f2328,8383,"196,881214919621",02/05/22,CPU,1,28/06/84,15568,5,SI
4,6790d7e6d40fe62a200f2329,3462,"771,172392957508",27/01/21,ALMACENAMIENTO,9,17/04/72,15684,45,NO
...,...,...,...,...,...,...,...,...,...,...
6808,6790d9abd40fe62a200f3dbf,8143,"168,060672126387",23/08/19,MONITOR,18,05/02/01,17492,90,NO
6809,6790d9abd40fe62a200f3dc0,3404,"720,579584543572",14/07/21,CPU,5,21/06/75,50760,25,NO
6810,6790d9abd40fe62a200f3dc1,4762,"861,147489871826",18/02/22,MONITOR,1,04/11/99,47814,5,SI
6811,6790d9abd40fe62a200f3dc2,9046,"264,186323146067",09/10/16,RATONES Y TECLADOS,1,28/02/00,48315,5,SI
6812,6790d9abd40fe62a200f3dc3,6195,"876,430374332927",03/03/21,MEMORIA,14,10/10/90,33422,70,SI